<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://images.unsplash.com/photo-1666811089803-bbfe3b6435fb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=360&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NzY4MTc3OQ&ixlib=rb-4.0.3&q=80&w=360"
            alt="imagem de um hamburger">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            Lorem ipsum dolor sit amet.
        </h2>
    </div>
    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Francisco Juan
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>
    <div class="recipe-content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, natus blanditiis nemo quo explicabo
            ex consequuntur dolorem laudantium pariatur vero, tempora asperiores voluptas corporis
            reprehenderit necessitatibus sunt, accusamus fuga quos?</p>
    </div>
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>