{% include 'app/partials/head.html' %}

<body>
    {% include 'app/partials/header.html' %}
    {% include 'app/partials/search.html' %}
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'app/partials/recipe.html' %}
            {% include 'app/partials/recipe.html' %}
            {% include 'app/partials/recipe.html' %}
            {% include 'app/partials/recipe.html' %}
            {% include 'app/partials/recipe.html' %}
            {% include 'app/partials/recipe.html' %}


            
        </div>
    </main>
    {% include 'app/partials/footer.html' %}
</body>

</html>